@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    background-image: url(img/bg.jpg);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.digitalClock {
    background-color: rgba(0, 0, 0, 0.701);
    width: fit-content;
    border-radius: 2px;
    color: #fff;
}

.digitalClock h1 {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size: 5rem;
}

.container-input {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 5px;
    padding: 0 15px;
    color: black;
    justify-content: space-around;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputs input {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.626);
    color: black;
    font-size: 2rem;
}

.counter {
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    animation: colorchange 7s infinite alternate;
}

.counter-title {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: -1px;
}

#next {
    padding-left: 15px;
    transition: 0.6s linear;
    border-radius: 0 5px 5px 0;
}

#next:hover {
    color: #fff;
}

@media (max-width: 768px) {
    #bar2 {
        display: none;
    }
    .digitalClock {
        text-align: center;
        width: 100vw;
    }

    .digitalClock .block {
        display: block;
    }
}

@media (max-width: 480px) {
    .digitalClock h1 {
        font-size: 2rem;
    }


}

@keyframes colorchange {
    0% {
        color: rgb(255, 255, 255);
    }
    20% {
        color: rgb(78, 78, 78);
    }
    40% {
        color: rgb(255, 255, 255);
    }
    60% {
        color: rgb(78, 78, 78);
    }
    80% {
        color: rgb(255, 255, 255);
    }
    100% {
        color: rgb(78, 78, 78);
    }
}